.add-recipe-content {
  --background: var(--ion-background-color);
}

.add-recipe-content ion-card {
  margin: 16px;
}

.add-recipe-content ion-item {
  --padding-start: 0;
  margin-bottom: 16px;
}

.button-container {
  margin-top: 24px;
  padding: 0 16px;
}
